<section class="product-info">
    <div class="product-images">
        <img [src]="selectedImage" alt="Imagen frontal" class="main-image">
    </div>

    <div class="product-details">
        <h1 class="product-title">{{product?.name || ''}}</h1>
        <div class="product-rating">
            <div class="stars">
              @for (item of [1,2,3,4,5]; track $index) {

                <img *ngIf="item <= product!.score" src="https://cdn.builder.io/api/v1/image/assets/TEMP/de376dc9c367657bc0f2a206917b86cd9c12a0d93917ac93064bbd3e88e0e975?placeholderIfAbsent=true&apiKey=dc69bff7e6ce492dbfb73daeaaffdb37" alt="" class="star">
              }
            </div>
            <span class="rating-score">{{product?.score || 0}}/5</span>
        </div>
        <div class="product-price">
            <span class="current-price">{{product?.price  || 0 | currency}}</span>
        </div>
        <p class="product-description">Especificaciones técnicas: {{ product?.description || '' }}</p>
        <div class="specifications">
            <div *ngFor="let spec of product?.specifications">
                <h2 class="section-title">Select {{ spec.name }}</h2>
                <div class="options" [ngClass]="spec.name.toLowerCase() + '-options'">
                    <button *ngFor="let value of spec.values"
                            class="option"
                            [ngClass]="{
                                'color-option': spec.name === 'Color',
                                'selected': selectedSpecs[spec.name] === value
                            }"
                            [ngStyle]="spec.name === 'Color' ? {'background-color': value} : {}"
                            (click)="spec.name === 'Color' ? selectColor(value) : selectedSpecs[spec.name] = value">
                        {{ spec.name !== 'Color' ? value : '' }}
                    </button>
                </div>
            </div>
        </div>
        <div class="add-to-cart">
            <div class="quantity-selector">
                <button class="quantity-btn" aria-label="Decrease quantity" (click)="minusQuantity()">-</button>
                <span class="quantity">{{quantity}}</span>
                <button class="quantity-btn" aria-label="Increase quantity" (click)="plusQuantity()">+</button>
            </div>
            <button class="add-to-cart-btn" (click)="addToCart()">añadir producto a carrito de compras</button>
            <div *ngIf="successMessage" class="success-message">
              {{ successMessage }}
            </div>
        </div>
    </div>
  </section>
