
        <section style="margin-top: 80px;" class="product-detail">
            <div class="product-images">

              @defer (on timer(1000 ms)) {
                  <img [src]="selectedImage" alt="Imagen frontal" class="main-image">
                }

            </div>


            <div class="product-info">
                <h2>{{product?.name}}</h2>
                <p class="rating">4.5/5 ⭐⭐⭐⭐⭐ (465 reviews)</p>
                <p class="price">
                    <span class="current-price">{{product?.price | currency}}</span>
                    <span class="original-price"> $300</span>
                    <span class="discount">40% off</span>
                </p>
                <p class="description">{{product?.description}}</p>

                <h3 style="margin: 0.5rem 0 0.5rem 0;">Specifications</h3>
                <ul>
                  @for (item of product?.specifications| keyvalue; track $index) {
                    <li>{{item.key}}: {{item.value}}</li>

                  }
                </ul>
                <!-- <div class="colors">
                    <p>Selecciona color:</p>
                    <button class="color-btn" style="background-color: #666633;"></button>
                    <button class="color-btn" style="background-color: #1e1e1e;"></button>
                    <button class="color-btn" style="background-color: #5c7f91;"></button>
                </div>

                <div class="sizes">
                    <p>Selecciona tamaño:</p>
                    <button class="size-btn">S</button>
                    <button class="size-btn">M</button>
                    <button class="size-btn selected">L</button>
                    <button class="size-btn">XL</button>
                </div> -->

                <div class="quantity">
                    <p-button (click)="minusQuantity()" [rounded]="true" [text]="true"  severity="secondary">-</p-button>

                    <input [(ngModel)]="quantity" type="number" value="1" [min]="1" [max]="10">
                    <p-button (click)="plusQuantity()" [rounded]="true" [text]="true"  severity="secondary">+</p-button>
                </div>

                <p-button  label="Agregar al carrito"></p-button>
            </div>
        </section>

        <section class="reviews">
            <h3>Reseñas</h3>
            <div class="review">
                <h4>Samantha D. ⭐⭐⭐⭐⭐</h4>
                <p>¡Me encanta la camiseta!. Viva la sele! </p>
                <p class="review-date">Publicado el 15 de octubre de 2024</p>
            </div>
            <!-- Agrega más reseñas aquí -->
        </section>
