<p-toolbar class="layout-topbar">
  <div class="p-toolbar-group-start">
      <span class="title" style="cursor: pointer;" (click)="goToHome()">
      MFE-CATALOGO
      </span>
  </div>

  <div class="p-toolbar-group-end">

<span class="p-input-icon-left">
  <i style="top: 25%;" class="pi pi-search"></i>
  <input
  pInputText
  #inputValue
  (keyup.enter)="searchProductsWithQuery(inputValue.value)"
  type="text"
  placeholder="Search" />
</span>

  <div class="buttons">
    <p-button [rounded]="true" [text]="true"  severity="secondary">
      <span class="material-symbols-outlined">
        shopping_cart
      </span>
    </p-button>

    <p-button [rounded]="true" [text]="true"  severity="secondary">
      <span class="material-symbols-outlined">
        account_circle
      </span>
    </p-button>
  </div>
</div>
</p-toolbar>
