<p-toolbar class="layout-topbar">
  <div class="p-toolbar-group-start">
    <span class="title">
      MFE-CATALOGO
    </span>
  </div>

  <div class="p-toolbar-group-end">
    <p-iconfield iconPosition="left">
      <p-inputicon styleClass="pi pi-search" />
      <input type="text" pInputText placeholder="Search" />
  </p-iconfield>


  <div class="buttons">
    <p-button  severity="secondary">
      <span class="material-symbols-outlined">
        shopping_cart
      </span>
    </p-button>

    <p-button  severity="secondary">
      <span class="material-symbols-outlined">
        account_circle
      </span>
    </p-button>
  </div>
</div>
</p-toolbar>
