@import 'src/styles';



// input.p-inputtext{
//   border-radius: 16px;
//   background-color: $background-input;
//   padding: 0.5rem 0.5rem;
//   padding-left: 2rem;
//   width: 400px;
//   min-width: 210px;
// }

.p-toolbar-group-end{
  gap:3rem;
  display: flex;
  flex-wrap: nowrap;
}

.title{
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
  margin: 0;
  line-height: 5rem;
  white-space: nowrap;
}

.icon{
  font-weight: bolder;
  color: #929292;
}

.buttons{
  gap: 0.5rem;
  display: flex;
}
