<div class="filter-panel">
  <!-- Filtro de categoría -->
  <div>
    <label for="category">Categoría:</label>
    <select
    pInputText

    id="category" [(ngModel)]="filters.category">
      <option value="">Seleccione una categoría</option>
      <option value="Shirts">Camisas</option>
      <option value="Electronics">Electrónica</option>
      <option value="Accesories">Accesorios</option>
      <option value="Beverages">Bebidas</option>
    </select>
  </div>

  <!-- Filtro de precio mínimo -->
  <div>
    <label for="minPrice">Precio Mínimo:</label>
    <input
      id="minPrice"
      pInputText
      oninput="this.value=this.value.replace(/[^0-9]/g,'');"
      minlength="0"
      maxlength="6"
      [(ngModel)]="filters.minPrice"
      placeholder="Ingrese precio mínimo"
    />
  </div>

  <!-- Filtro de precio máximo -->
  <div>
    <label for="maxPrice">Precio Máximo:</label>
    <input
      pInputText
      id="maxPrice"
      oninput="this.value=this.value.replace(/[^0-9]/g,'');"
      minlength="0"
      maxlength="6"
      [(ngModel)]="filters.maxPrice"
      placeholder="Ingrese precio máximo"
    />
  </div>

  <!-- Filtro de rating -->
  <div>
    <label for="rating">Calificación (1-5):</label>
    <select
    pInputText
    id="rating" [(ngModel)]="filters.rating">
      <option value="">Seleccione calificación</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>

  <!-- Botón para aplicar filtros -->
  <button class="applyFilters" (click)="applyFilters()">Aplicar Filtros</button>
</div>
